extends layout

block content
  div.banner
    h2.banner-content Acá va banner del sitio
  div.recomendation
    h4.recomendation-text Recomendación 1
  div.recomendation
    h4.recomendation-text Recomendación 2
  div.recomendation
    h4.recomendation-text Recomendación 3
  div.recomendation
    h4.recomendation-text Recomendación 4
  div.recomendation
    h4.recomendation-text Recomendación 5
  div.recomendation
    h4.recomendation-text Recomendación 6
  div.recomendation
    h4.recomendation-text Recomendación 7
  div.recomendation
    h4.recomendation-text Recomendación N

