doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(type='text/javascript', scre='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      a(class="navbar-brand", href="/") Prueba&trade;
      button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")

      div(class="collapse navbar-collapse", id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link", href="/") Home
          if(!session)
            li(class="nav-item")
              a(class="nav-link", href="/users/login") Iniciar sesión
            li(class="nav-item")
              a(class="nav-link", href="/users/create") Registrarse
          else
            li(class='nav-item active')
              p Bienvenido #{session.user_id}
          li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Publicaciones
            div(class="dropdown-menu", aria-labelledby="navbarDropdown")
              a(class="dropdown-item", href="/publications/create") Nueva publicación
              a(class="dropdown-item", href="/publications/") Publicaciones
              div(class="dropdown-divider")
              a(class="dropdown-item", href="#") Mis publicaciones
              a(class="dropdown-item", href="#") Compras

        form(class="form-inline my-2 my-lg-0")
          input(class="form-control mr-sm-2", type="search", placeholder="Buscar...", aria-label="Search")
          button(class="btn btn-outline-success my-2 my-sm-0", type="submit") Buscar

    div.main
      block content

    div.footer
      p
        span Prueba&trade;
        span &nbsp;|&nbsp;
        span
          a(href='#') Contáctenos
